body{
  padding: 50px;
  background-repeat: no-repeat;
  position: relative;
}

.nav{
  width: 100%;
  height: 30px;
  margin: 0 auto;
  position: relative;
}

.navBox{
  margin-left: 200px;
}

.navButton{
  width: 100px;
  height: 30px;
  text-align: center;
  font-size: 18px;
  color:black;
  margin: 0 -1px -1px 0;
  border:1px solid dimgrey;
  float: left;
}

.navButton:hover{
  box-shadow: 0 1px grey;
}

p{
  text-align: center;
}

.principle{
  margin: 20px auto;
  font-style: italic;
  font-size:18px;
  color:red;
  height: 20px;
  clear:both;
}

.realPrinciple{
  margin: 5px auto;
  font-style: italic;
  font-size: 18px;
  color:lightgreen;
  height: 20px;
  transition: all 15s ease-out 1s;
}

.container{
  max-width: 1400px;
  height: 400px;
  margin: 20px auto;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.question{
  width:40%;
  height: 400px;
  padding: 0 0;
  font-size: 20px;
  outline: none;
  border:1px solid grey;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  position: relative;
}

.title{
  left: 220px;
  top: 20px;
  height: 40px;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  display: none;
  position: absolute;
  overflow: hidden;
}

.left{
  background-color: pink;
  float:left;
}

.right{
  background-color: lightblue;
  float: right;
}

.left:hover{
  box-shadow:0 5px 5px pink;
}

.right:hover{
  box-shadow: 0 5px 5px lightblue;
}

#content1,#content2{
  text-align: left;
  line-height: 30px;
  font-size: 20px;
  margin-left: 10%;
  word-wrap: break-word;
  word-break: break-all;
}

.feedback{
  bottom: 20px;
  height: 30px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  display: none;
  position: absolute;
  overflow: hidden;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.footer button{
  width: 100px;
  height: 3em;
  color: #333333;
  font-weight: bold;
}

#report{
  float: right;
  margin-right: 100px;
}

#next{
  display: none;
  float: right;
  margin-right: 20px;
}

#confirm{
  float: left;
  margin-left: 500px;
}

#report:hover{
  background-color: #4cc9f0;
  -webkit-box-shadow: 10px 10px 99px 6px rgba(76,201,240,1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(76,201,240,1);
  box-shadow: 10px 10px 99px 6px rgba(76,201,240,1);
}

#next:hover{
  background-color: #d2691e;
  -webkit-box-shadow: 10px 10px 99px 6px rgba(210,105,30,1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(210,105,30,1);
  box-shadow: 10px 10px 99px 6px rgba(210,105,30,1);
}

#confirm:hover{
  background-color: #f038ff;
  -webkit-box-shadow: 10px 10px 99px 6px rgba(240,56,255,1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(240,56,255,1);
  box-shadow: 10px 10px 99px 6px rgba(240,56,255,1);
}


