<head>
  <meta charset="UTF-8">
  <title>shitcode tutorial</title>
  <link rel="stylesheet" type="text/css" href="question.component.css">
</head>

<body>
  <div class="nav">
    <div class="navBox" *ngFor="let questionId of questionIDArray">
        <button type="button" class="navButton" [id] = "questionId" (click)="loadQuestion(questionId)">{{questionId}}</button>
    </div>
  </div>

  <div class="principle"><p id = "principle">{{data.principle}}</p></div>
  <div class="realPrinciple">
    <p @fadeInOut *ngIf="isAnswered" id = "realPrinciple">{{data.realPrinciple}}</p>
  </div>
  <p>which one is shitcode?</p>

  <div class="container">
    <button id = "left" class="question left" type="button" (click)="chooseLeft()">
      <div id="leftTitle" class="title"></div>
      <p id="content1"></p>
      <div id="leftFeedback" class="feedback"></div>
    </button>

    <button id = "right" class="question right" type="button" (click)="chooseRight()">
      <div id="rightTitle" class="title"></div>
      <p id="content2"></p>
      <div id="rightFeedback" class="feedback"></div>
    </button>
  </div>

  <div class="footer">
    <button class="confirm" type="button" (click)="confirm()">confirm</button>
    <button class="next" type="button" (click)="getNextQuestion()">next</button>
    <button class="report" type="button" (click)="report()">get report</button>
  </div>

</body>





