body{
  height:750px;
  background-color: #FEC5BB;
  background-repeat: no-repeat;
  margin-top: 1%;
  position: relative;
}

.nav{
  width: 100%;
  height: 30px;
  margin-left: 75px;
  position: relative;
}

.navBox{
  margin: auto;
  position: static;
  width: 80%;
}

.navButton{
  width: 100px;
  height: 55px;
  text-align: center;
  font-size: 18px;
  float: left;

  //border-color: white;
  border: none;
  opacity: 0.6;
  cursor: pointer;
}

.navButton:hover{
  opacity: 1;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p{
  text-align: center;
}

.principle{
  margin: 20px auto;
  font-style: italic;
  font-size:18px;
  color:red;
  height: 20px;
  clear:both;
}

.realPrinciple{
  margin: 5px auto;
  font-style: italic;
  font-size: 18px;
  color:lightgreen;
  height: 20px;
  transition: all 15s ease-out 1s;
}

.container{
  max-width: 1400px;
  height: 400px;
  margin: 20px auto;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.question{
  width:40%;
  height: 400px;
  padding: 0 0;
  font-size: 20px;
  outline: none;
  border:1px solid grey;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  position: relative;
}

.title{
  left: 220px;
  top: 20px;
  height: 40px;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  display: none;
  position: absolute;
  overflow: hidden;
}

.left{
  background-color: pink;
  float:left;
}

.right{
  background-color: lightblue;
  float: right;
}

.left:hover{
  opacity: 0.75;
  box-shadow:0 5px 5px pink;
}

.right:hover{
  opacity: 0.75;
  box-shadow: 0 5px 5px lightblue;
}

#content1,#content2{
  text-align: left;
  line-height: 30px;
  font-size: 20px;
  margin-left: 10%;
  word-wrap: break-word;
  word-break: break-all;
}

.feedback{
  left:200px;
  bottom: 20px;
  height: 30px;
  font-size: 20px;
  line-height: 30px;
  display: none;
  position: absolute;
  overflow: hidden;
}

.footer{
  display: block;
  background-color: #FEC5BB;
  position: relative;
}

.footer button{
  width: 100px;
  height: 3em;
  color: #333333;
  font-weight: bold;
  cursor: pointer;
}

#report{
  float: right;
  margin-right: 100px;
}

#confirm{
  float: left;
  margin-left:1000px;
}

#report:hover{
  background-color: #4cc9f0;
  -webkit-box-shadow: 10px 10px 99px 6px rgba(76,201,240,1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(76,201,240,1);
  box-shadow: 10px 10px 99px 6px rgba(76,201,240,1);
}

#confirm:hover{
  background-color: #f038ff;
  -webkit-box-shadow: 10px 10px 99px 6px rgba(240,56,255,1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(240,56,255,1);
  box-shadow: 10px 10px 99px 6px rgba(240,56,255,1);
}
