<body>
  <div class="logo">
      <img src="assets/img/logo.png" alt="logo" style="height:150px;width:400px;">
   </div>
   <div class="box">
      <h1 style="font-size: 40px;line-height: 45px;">Find Out Shitcode</h1>
      <p style="font-size: 16px;line-height: 28px;">Do you think you've known how to avoid shitcode?</p>
      <p style="font-size: 16px;line-height: 28px;padding-bottom: 25px;">
        Some little piece of shitcode may mess with your code. Test your skills and judge which snippet is shitcode. We've concluded several principles for you to get rid of shitcode, start and have fun!
      </p>
      <a class="button" [routerLink]="['/question']">play</a>
   </div>
</body>

